# Compiled output
/dist
# Dependencies
/node_modules
/lib
/es
/types
effector-react-form.cjs.js
effector-react-form.esm.js
ssr.js
ssr.esm.js

.vscode
node_modules
*.DS_Store
build
npm-debug.log
coverage
stats.json

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries
